*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

body{

    height: 100vh;
    display: flex;
    background: white;
    overflow: hidden;
}

.con{
    
    width: 100%;
    height: 100%;
    background: green;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}   

.lobby{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.lobby img{
    filter: drop-shadow(1px 1px 15px rgb(130, 248, 130));
    transform: scale(1);

}
