*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

body{

    height: 100vh;
    display: flex;  
    color: black;
    align-items: center;
    background: white;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    gap: 5%;
    font-size: 1.6rem;
}

.con{

    
    display: flex;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 0%;
     gap: 5%;
    left: 0%;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
